@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,600;0,700;1,400&display=swap");
html,
body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
}
.homepage {
  background: url("/assets/images/body-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.roadmap-page {
  background: url("/assets/images/roadmap-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.founder-page {
  background: url("/assets/images/founder-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.metaversol-pass-page {
  background: url("/assets/images/metaversol-pass-bg.jpg");
  background-repeat: no-repeat;
  background-size: contain;
}
.services-page {
  background: url("/assets/images/services-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
.w-full {
  width: 100%;
}
a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}
.btn-alpha-wrap {
  position: relative;
  width: fit-content;
}
.btn-alpha-blur {
  background: linear-gradient(
    98.04deg,
    rgba(191, 138, 237, 0.5) -9.26%,
    rgba(115, 216, 202, 0.5) 58.73%,
    rgba(102, 45, 145, 0.5) 124.53%
  );
  filter: blur(16.9787px);
  border-radius: 16.4894px;
  position: absolute;
  right: -12px;
  top: -12px;
  left: -12px;
  bottom: -12px;
  padding: 4px;
  transition: all 0.5s ease-in-out;
}
.btn-alpha-blur:hover {
  filter: blur(12.9787px);
  cursor: pointer;
}
.btn-alpha {
  cursor: pointer;
  border: 2.6383px solid #bf8aed;
  background: linear-gradient(
    98.04deg,
    rgba(191, 138, 237, 0.5) -9.26%,
    rgba(115, 216, 202, 0.5) 58.73%,
    rgba(102, 45, 145, 0.5) 124.53%
  );
  color: #fff;
  box-sizing: border-box;
  border-radius: 16.4894px;
  width: 143.13px;
  height: 45.51px;
  padding: 10px 25px;
}
.glob-cta {
  background: url("/assets/images/ChainCta.png");
  background-repeat: no-repeat;
  background-size: 690px;
  background-position: 88% 146px;
}
.service-cta {
  background: url("/assets/images/glob-Cta.png");
  background-repeat: no-repeat;
  background-size: 1012px;
  background-position: 100% 184px;
}
.RoadMap-cta {
  background: url("/assets/images/RoadMap-cta.png");
  background-repeat: no-repeat;
  background-size: 720px;
  background-position: 100% 250px;
}
.service-cta-title {
  width: 21rem;
}

@media only screen and (max-width: 1024px) {
  .glob-cta {
    background-size: 490px;
    background-position: 88% 140px;
  }
  .service-cta {
    background-size: 798px;
    background-position: 100% 235px;
  }
  .RoadMap-cta {
    background-size: 100%;
    background-position: 100% 235px;
  }
}
@media only screen and (max-width: 768.5px) {
.homepage {
  background: url("/assets/images/mob-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
  .service-cta-title {
    width: 100%;
  }
  .glob-cta {
    background-size: 412px;
    background-position: 89% 187px;
  }
  .btn-alpha {
    width: inherit;
    height: 45.51px;
    padding: 10px 25px;
  }
  .service-cta {
    background-size: 660px;
    background-position: 100% 205px;
  }
  .RoadMap-cta {
    background-size: 100%;
    background-position: 100% 285px;
  }
}
@media only screen and (max-width: 525.5px) {
  .glob-cta {
    background-size: 430px;
    background-position: 0 230px;
  }
  .service-cta {
    background-size: 450px;
    background-position: 100% 360px;
  }
  .RoadMap-cta {
    background-size: 100%;
    background-position: 100% 290px;
  }
}
@media only screen and (max-width: 375.5px) {
  .glob-cta {
    background-size: 430px;
    background-position: 0 282px;
  }
  .service-cta {
    background-size: 450px;
    background-position: 100% 390px;
  }
  .RoadMap-cta {
    background-size: 100%;
    background-position: 100% 345px;
  }
}
